#!/bin/bash
# {{ include "Brewfile" | sha256sum }}

# Install Homebrew if not installed
if ! command -v brew &> /dev/null; then
    echo "Installing Homebrew..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
    echo "Homebrew already installed."
fi

HOMEBREW_BUNDLE_FILE="{{ .chezmoi.sourceDir }}/Brewfile"
echo "Brewfile changed, updating packages from $HOMEBREW_BUNDLE_FILE..."
# Check if the Brewfile exists
if [ ! -f "$HOMEBREW_BUNDLE_FILE" ]; then
  echo "Brewfile not found at $HOMEBREW_BUNDLE_FILE"
  exit 1
fi
# Check if Homebrew is installed
if ! command -v brew &> /dev/null; then
  echo "Homebrew is not installed. Please install it first."
  exit 1
fi
brew bundle install --file="$HOMEBREW_BUNDLE_FILE" --no-upgrade --quiet
