# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'
command_timeout = 2000

[nodejs]
disabled = true

[gcloud]
disabled = true

[aws]
format = 'on [$symbol($profile )]($style)'
